#modal-img{
  width: 150px; 
  height:200px; 
  border-radius: 3%;
}

.search-form :hover{
  cursor: pointer;
}

.buttonMore{
  margin: auto;
  margin-bottom: 20px;
  width: 10%;
}

.fade-in{
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}
